/*  
logo                  #000000
logo                  #2196F3
active page           #2196F3
nav text              #212121
h1                    #ffffff
h2,h3                 #212121
P                     #757575

background:
nav                   #FFFFFF
header                #2F303A 
Our rules for succes  #F5F5F5
Development           #F5F5F5
Our Team              #F5F4FA

footer                #2F303A
portfolio             #F5F5F5

*/
:root {
  /* General colors */
  --general-black: #000000;
  --general-wight: #ffffff;
  /* Text color */
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  /* Background color */
  --background-color: #f5f5f5;
  --section-bgr: #f5f4fa;
  --hero-bgr-color: #2f303a;
  --btn-background: #f5f4fa;
  --frame-color: #eeeeee;
  --secondary-frame-color: #ECECEC;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid orange; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  /* background-color: var(--background-color); */
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
}
.link {
  text-decoration: none;
  list-style: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Heder */
.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--secondary-frame-color);
}
.header {
  background-color: var(--general-wight);
  
}
.link-logo {
  display: flex;
  align-items: center;
  /* width: 145px;
  height: 31px; */
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.header .link-logo {
  color: var(--general-black);
}
.logo-web {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
}
.link-logo:hover,
.link-logo:focus {
  color: var(--general-black);
}

.header-nav {
  display: flex;
  margin-right: auto;
}

.header-nav .current {
  color: var(--accent-color);
}
.header-list {
  display: flex;
  align-items: center;

  margin-left: 93px;

  gap: 50px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.header-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-contact {
  display: flex;
  gap: 50px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.header-list a {
  color: var(--primary-text-color);
}
.header-contact a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
}
/* --------Main-------- */
/* Hero */
.hero {
  background-color: var(--hero-bgr-color);
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
}
.hero-title {
  margin-top: 200px;
  margin-bottom: 30px;
  color: var(--general-wight);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;

  /* Our rules for success */
}

.rules {
}

.rules-container {
  padding-top: 94px;
  background-color: var(--general-wight);
}
.rules-title {
}
.rules-list {
  display: flex;
  gap: 30px;
}
.rules-list li {
  width: 270px;
}

.rules-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
}
.rules-list-item {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: calc(24 / 14);
}
/* Development */
.development {
}
.development-container {
  background-color: var(--general-wight);
  padding-top: 94px;
}
.development-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

.development-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  padding-bottom: 94px;
}

/* Our Team */
.team {
  background-color: var(--section-bgr);
}
.team-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 94px;
  text-align: center;
}
.team-list-item {
  background-color: var(--general-wight);
  outline: 2px solid var(--frame-color)
}
.team-list-title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
}
.team .team-list-text {
  margin-top: 10px;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: calc(19 / 16);
}
/* footer */

.footer {
  background-color: var(--hero-bgr-color);
}
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .link-logo {
  padding-bottom: 20px;
  color: var(--general-wight);
}

.footer-address {
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;

  color: var(--general-wight);
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.footer-item {
}

.footer [href*="https:"] {
  color: var(--general-wight);
}

.footer [href*="mailto"],
.footer [href*="tel"] {
  color: rgba(255, 255, 255, 0.6);
}
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

/*============= Portfolio =============*/

/* Section Example */
.example {
    background-color: var(--general-wight);
}
.container-example {
  padding-bottom: 96px;
}
.example-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  
  text-align: left;
  margin-top: 50px;
}
.example-link {
  
}
.example-list li {
  outline: 2px solid var(--frame-color);
}
.filters {
}
.filters-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 80px;
}
.example-title {
  margin-top: 20px;
  margin-left: 24px;
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}
.example-text {
  margin-left: 24px;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 18);
  letter-spacing: 0.03em;
}
/* Buttons styles */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
}
.hero .btn {
  width: 216px;
  height: 50px;

  color: var(--general-black);
  background-color: var(--accent-color);
  border-radius: 4px;
}
.filters-list .btn {
  color: var(--general-black);
  background-color: var(--btn-background);
  border-color: transparent;
  border-radius: 4px;
}
.btn:hover,
.btn:focus {
  color: var(--general-wight);
  background-color: var(--accent-color);
}
